
.container .container-view .body-container-big.body-awards{
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 7%;
}

.container .container-view .body-container-big .awards-container{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-y: scroll;
  -ms-touch-action: pan-y;
  -webkit-overflow-scrolling: touch;
  -ms-scroll-chaining: none;
}

.container .container-view .body-container-big .awards-container .award-container{
  width: 100%;
  height: 7rem;
  border-bottom: solid .1rem #F2F2F2;
  padding: .4rem 0;
}

.container .container-view .body-container-big .awards-container .award-container .image{
  height: 100%;
  width: 25%;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

.container .container-view .body-container-big .awards-container .award-container .body{
  height: 100%;
  width: 55%;
  float: left;
  padding-left: .8rem;
}

.container .container-view .body-container-big .awards-container .award-container .body .store{
  color: #00436A;
  display: block;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.container .container-view .body-container-big .awards-container .award-container .body .description{
  color: #0089C7;
  font-size: 1.3rem;
  height: 1.7rem;
  display: block;
  overflow-x: hidden;
  white-space: nowrap;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.container .container-view .body-container-big .awards-container .award-container .body .categorie{
  color: #B3B3B3;
  font-size: 1rem;
}

.container .container-view .body-container-big .awards-container .award-container .arrow{
  height: 100%;
  width: 20%;
  float: left;
  display: table;
  text-align: center;
}

.container .container-view .body-container-big .awards-container .award-container .arrow span{
  display: table-cell;
  vertical-align: middle;
  font-size: 2.5rem;
  color: #BEDEE8;
}
