
.container .container-view .body-container-big.awards{
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 7%;
}

.container .container-view .body-container-big .awards-container{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-y: scroll;
  -ms-touch-action: pan-y;
  -webkit-overflow-scrolling: touch;
  -ms-scroll-chaining: none;
}

.container .container-view .body-container-big .awards-container .award-container{
  width: 100%;
  height: 7rem;
  border-bottom: solid .1rem #F2F2F2;
  padding: .4rem 0;
}

.container .container-view .body-container-big .awards-container .award-container .image{
  height: 100%;
  width: 25%;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

.container .container-view .body-container-big .awards-container .award-container .body{
  height: 100%;
  width: 55%;
  float: left;
  padding-left: .8rem;
}

.container .container-view .body-container-big .awards-container .award-container .body .store{
  color: #00436A;
  display: block;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.container .container-view .body-container-big .awards-container .award-container .body .description{
  color: #0089C7;
  font-size: 1.3rem;
  height: 1.7rem;
  display: block;
  overflow-x: hidden;
  white-space: nowrap;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.container .container-view .body-container-big .awards-container .award-container .body .categorie{
  color: #B3B3B3;
  font-size: 1rem;
}

.container .container-view .body-container-big .awards-container .award-container .arrow{
  height: 100%;
  width: 20%;
  float: left;
  display: table;
  text-align: center;
}

.container .container-view .body-container-big .awards-container .award-container .arrow span{
  display: table-cell;
  vertical-align: middle;
  font-size: 2.5rem;
  color: #BEDEE8;
}

.container .container-view .body-container-big.awards.body-selected-brand{
  padding-top: 2%;
}

.container .container-view .body-container-big.body-selected-brand .title{
  width: 100%;
  height: 3rem;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  color: #0089C7;
  display: table;
  padding: .5rem 0;
}

.container .container-view .body-container-big.body-selected-brand .title span{
  display: table-cell;
  vertical-align: middle;
}

.container .container-view .body-container-big.body-selected-brand .image{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 14rem;
  width: auto;
}

.container .container-view .body-container-big.body-selected-brand .awards-list{
  padding-top: 1rem;
}

.container .container-view .body-container-big.body-selected-brand .awards-list .award-brand-container{
  list-style-type: none;
  display: inline-block;
  padding: .5rem;
  border-bottom: solid .1rem #F2F2F2;
  display: flex;
}

.container .container-view .body-container-big.body-selected-brand .awards-list .award-brand-container .body{
  width: 80%;
  float: left;
}

.container .container-view .body-container-big.body-selected-brand .awards-list .award-brand-container .arrow{
  width: 20%;
  float: left;
  display: table;
  text-align: center;
}

.container .container-view .body-container-big.body-selected-brand .awards-list .award-brand-container .arrow span{
  display: table-cell;
  vertical-align: middle;
  font-size: 2.5rem;
  color: #BEDEE8;
}

.container .container-view .body-container-big.body-selected-brand .awards-list .award-brand-container .body .title{
  color: #00436A;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: left;
  height: auto;
}

.container .container-view .body-container-big.body-selected-brand .awards-list .award-brand-container .body .validy{
  color: #0089C7;
  font-size: 1.1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: left;
  padding-top: .2rem;
}

.container .container-view .body-container-big.body-selected-brand .award-detail{

}

.container .container-view .body-container-big.body-selected-brand .award-detail .award-title{
  width: 60%;
  margin: 0 auto;
  color: #00436A;
  height: auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  padding: 1rem 0;
}

.container .container-view .body-container-big.body-selected-brand .award-detail .award-qrcode{
  height: 12rem;
  width: auto;
  margin: 0 auto;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../assets/qr-code.png');
}

.container .container-view .body-container-big.body-selected-brand .award-detail .award-validity{
  width: 100%;
  height: 3rem;
  color: #00436A;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  text-align: center;
  padding: 1rem 0;
  height: 6rem;
  border-bottom: solid .1rem #F2F2F2;
}

.container .container-view .body-container-big.body-selected-brand .award-detail .award-share{
  color: #0089C7;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 0;
  height: 4rem;
}

.container .container-view .body-container-big.body-selected-brand .award-detail .award-share .share{
  width: 80%;
  float: left;
  height: 3rem; 
  padding-left: 2rem;
}
.container .container-view .body-container-big.body-selected-brand .award-detail .award-share .share-icon{
  width: 20%;
  float: left;
  height: 3rem; 
  font-size: 2rem;
  text-align: center;
}